p {
  font-family: Lato;
  font-size: 30px;
  text-align: center;
  color: red;
}
h1 {
  font-size: 30pix;
  color: greenyellow;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}
.fw-bold {
  text-align: center;
  color: brown;
}
